* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(124.76deg, #8DC2FF 0%, #598CE7 26.35%, #527AE9 50.12%, #4E54E0 99.21%);
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
}
